<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id='app'>
        <form class="form-group">
            <input v-if="edit == null" type="text" class="form-control" v-on:keydown.enter.prevent="addTodo"
                id="textTodo" placeholder="เพิ่มสิ่งที่ต้องทำ">
            <input v-else type="text" class="form-control" v-on:keydown.enter.prevent="editTodo" id="textTodo"
                v-bind:value="todo.text" placeholder="เเก้ไขสิ่งที่ต้องทำ">

        </form>

        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" v-if = "pagenumber !=0 "><a class="page-link" href="#">Previoous</a></li>
                <li class="page-item" v-for="page in getPage">
                    <a class="page-link" href="#" @click = "pagenumber = page-1">{{page}}</a>
                </li>
                <li class="page-item" v-if = " pagenumber != getPage-1 "><a class="page-link" href="#">Next</a></li>
             
            </ul>

            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>todo</th>
                        <th>operation <button v-if="edit != null" class="btn btn-warning"
                                @click="addNew()">addnew</button> </th>


                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tod in getTodobyPaging">
                        <th>{{tod.id}}</th>
                        <th>{{tod.text}}</th>
                        <th><button class="btn btn-warning" @click="editOperation(tod)">edit</button>&nbsp;<button
                                type="button" class="btn btn-danger" @click="delOperation(tod)">Delete</button></th>

                    </tr>




                </tbody>
            </table>


        </nav>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                edit: null,
                todo: [
                    
                        {id: 1,text: 'repair computer'},
                        { id: 2,
                        text: 'repair computer'},
                        {id: 3,
                        text: 'repair computer'},
                        { id: 4,
                        text: 'repair computer'},
                        {id: 5,
                        text: 'repair computer'},
                   




                ],
                pagenumber:0,
                pagesize:3,
                lastid: 6


            },
            methods: {
                addTodo: function (event) {
                    var newTodo = {
                        id: this.lastid++,
                        text: event.target.value
                    };
                    this.todo.push(newTodo)
                },

                editTodo: function (event) {

                    this.edit.text = event.target.value;
                    this.edit = null;
                },
                editOperation: function (todo) {
                    this.edit = todo;



                },
                delOperation: function (todo) {
                    var index = this.todo.findIndex(t => t.id == todo.id);
                    this.todo.splice(index, 1);





                },
                addNew: function (todo) {

                    this.edit = null





                }
            },
            computed:{
                getTodobyPaging:function(){
                    var begin = this.pagenumber*this.pagesize;
                    var end = begin+this.pagesize;
                    return this.todo.slice(begin,end);
                },

                getPage:function(){
                    return Math.ceil(this.todo.length/this.pagesize)
                }


            },

        })
    </script>
</body>

</html>